<footer class="container-fluid">
    <nav class="navbar fixed-bottom navbar-light" style="background-color: lightgray;">
      <h4>&copy; CopyRight 2020. COMP229 - Assignment 1. All Rights Reserved.</h4>
  </nav>
  </footer>